<%- include("partials/header.ejs") %>
    <div class="intro-welcome">
        <h1>Hello World!! dont get bored or get Your mood off lets try one of the option and lift your mood Up and feel good </h1>
        <img src="images/happy-quotes.jpg" alt="">
    </div>
<%- include("partials/footer.ejs") %>