*{
    margin: 0;
    padding: 0;

}

.hero{
width: 100%;
height: 100vh;
background: #e9b2ce;
position: relative;

}
.box{
    width: 500px;
    min-height: 500px;
    padding: 50px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    color: #555;
}
.box h2{
font-size: 18px;
margin-bottom: 20px;
}

.box h1{
font-size: 90px;
margin-bottom: 20px;
color: #ff2166;
font-weight: 500;
}
span{
    font-size: 40px;
    color: #555;
}
.box b{
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    
}
.box p{
    font-size: 18px;
    margin-bottom: 20px;
}

button{
    display: block;
    margin: 30px auto;
    border: 0;
    outline: 0;
    background: #ff2166;
    color: #fff;
    padding: 12px 40px;
border-radius: 30px;
box-shadow: 0 10px 10px rgba(0,0,0,0.1);

}

.img{
    border-radius: 10px;
    height: 70px;
    width: 180px;
}

/* .ribbon{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -10px;

}
.ribbon::before , .ribbon::after{
    content: '';
    width: 10px;
    height: 10px;
    color: #f2467b;
    position: absolute;
    z-index: -1;
}
.ribbon::before{
    top: 0;
    right: 0;

}
.ribbon::after{
    bottom: 0;
    left: 0;
}
.rib{
    width: 225px;
    font-size: 15px;
text-align: center;
padding: 8px 0;
background: #ff2166;
color: #fff;
transform: rotate(-45deg);
right: -30%;
top: 59%;

} */






