<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/styles/main.css">
    <title>Mood-lifter😂</title>
</head>
<body>
    <div class="container">
<header>

    <div class="menu">
        <a href="/animal"><button >Beautiful cat,dog or bird</button></a>
        <a href="/bored"> <button> activity when u bored</button></a>
    </div>
</header>
<main >


